<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.main.js" defer ></script>
</head>
<body>
    <% if (slideshow.length > 0) { %> 
        <div class="slideshow-container">
                <% slideshow.forEach(slide => { %>
                    <div class="mySlides fade">
                        <div class="first-section">
                            <img src=<%= slide.image %> style="width:100%">
                            <div class="first-section-text">
                                <p><%= slide.text %> </p>
                                <h1><%= slide.title %> </h1>
                                <h2><%= slide.subtitle %> </h2>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    <% } %>
    <% if (secondSection) { %>
        <div class="second-section">
            <div class="second-section-text">
                <% if (secondSection.title) { %>
                    <h1><%= secondSection.title %> </h1>
                <% } %>
                <% if (secondSection.subtitle) { %>
                    <h2><%= secondSection.subtitle %> </h2>
                <% } %>
                <% if (secondSection.text) { %>
                    <p><%= secondSection.text %> </p>
                <% } %>
            </div>
        </div>
    <% } %>
    
    <% if (resources) { %>
        <div class="resources">
            <div class="resources-text">
                <% if (resources.title) { %>
                    <h1><%= resources.title %> </h1>
                <% } %>
                <% if (resources.video) { %>
                    <div class="video">
                        <iframe width="1200" height="675" src=<%= resources.video %>  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>         </iframe>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
    
    <% if (contact) { %>
        <div class="contact">
            <div class="contact-text">
                <% if (contact.title) { %>
                    <h1><%= contact.title %> </h1>
                <% } %>
                <% if (contact.subtitle) { %>
                    <h2><%= contact.subtitle %> </h2>
                <% } %>
                <% if (contact.subtitle2) { %>
                    <h2><%= contact.subtitle2 %> </h2>
                <% } %>
                <div class="btns">
                    <button>CALL</button>
                    <button>CHAT</button>
                    <button>TEXT</button>
                </div>
            </div>
        </div>
    <% } %>    
    
    <% if (about) { %>
        <div class="about-us">
            <div class="about-us-text">
                <% if (about.title) { %>
                    <h1><%= about.title %> </h1>
                <% } %>
                <% if (about.text) { %>
                    <p><%= about.text %></p> 
                <% } %>
                <% if (about.text2) { %>
                    <p><%= about.text2 %></p> 
                <% } %>
            </div>
        </div>
    <% } %>    
    
</body>
</html>